/* Base HTML Styles */
@import url('https://fonts.googleapis.com/css2?family=Rock+Salt&family=Inter&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap');

:root {
	--orange: #df6e05;
	--lightorange: #ffb833;
	--white: #57d68d;
	--blue: #5dade2;
	--black: #111111;
	--gray: #e3e3e3;
}

/* CSS Reset */

html {
	box-sizing: border-box;
	font-size: 10px;
	font-family: 'Inter', sans-serif;
	color: var(--gray);
	scroll-behavior: smooth;
	background-color: #000000;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Inter', sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}
a{
	color:white;
}

img {
	max-width: 100%;
	height: auto;
}

input,
button,
textarea,
select {
	font: inherit;
}

/* Global styles */

body {
    background-color: var(--black);
}


/* HEADER */


#profile {
	position: relative;
	width: 90px;
	margin-left: 24px;
	margin-top: 18px;
}

.profile-photo {

    position:absolute;
	width: 90x;

    outline: solid;
	outline-width: 5px;
    outline-color: var(--orange);
}


.header-content {
	background-image: url("/imgs/background_dark.jpg");
	background-size:cover;
    display: flex;
    justify-content: space-between;
    border-bottom: var(--orange);
    border-style: solid;
    border-top: none;
    border-right:none;
    border-left: none;
	padding-bottom: 32px;
	height: 230px;
    
}

.mobile-header {
    justify-self: flex-end;
    align-self: flex-start;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 8px;
}


ul{
	margin-top: 8px;
	margin-right: 8px;
}

li a:hover{
	
	font-weight: bolder;
	text-shadow: none;
	
	
}

li {
	padding: 8px;
	text-align:right;

}

li a {
	color: white;
	text-shadow: #744200cb 1px 1px 2px;
	text-decoration: none;
	cursor: pointer;
}

.hamburger-button{
    background-color: rgba(0, 0, 0, 0);
    margin: 0px;
    padding: 0px;
	margin-right: 16px;
	margin-top: 16px;
    border-style: none;
	cursor: pointer;
}

.hero {
    align-self: flex-start;
	margin-left:  16px;
}


h1 {
    
    font-family: 'Rock Salt';
	font-weight: lighter;
    font-size: 3rem;
	margin-top: 16px;
    margin-left: 16px;
	margin-bottom: 8px;
 }

 h2 {
    
    font-family: 'Inter';
	text-transform: uppercase;
	letter-spacing: 2px;
    font-size: 1rem;
    margin-left: 20px;
	margin-bottom: 16px;
 }

.socials {
    display: flex;
    justify-content: space-evenly;
    height: 24px;
    width: 112px;
    margin-left: 14px;
	margin-bottom: 24px;
}

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
	
}

.main-items {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 15%);
    padding: 4px;
    
}

h3 {
    
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding: 16px;
    font-family: 'Inter';
    text-transform: uppercase;

}

p {
    padding-left: 16px;
    padding-top: 48px;
    padding-bottom: 32px;
    padding-right: 16px;
}



#projects {
	justify-content: flex-start;
    background-color: var(--orange);
	padding-top: 16px;
	padding-bottom: 16px;
	
	
}

.project-items {
	display: inline-flex;
	
	justify-items: flex-start;
	width:500;
	height: 100;
	padding-left: 16px;
	padding-top: 8px ;
	padding-bottom: 8px;
	padding-right: 24px;
	overflow-x: scroll;
	white-space: nowrap;
	
}

.project-items::-webkit-scrollbar{
	width: 6px;
}

.project-items::-webkit-scrollbar-thumb{
	background-color: var(--gray);
	border-radius: 16px;
	border: 4px solid var(--orange)

}

.test {
	padding: 10px;
}
.center {
	display:flex;
	justify-content: center;
	/* background-color: #57d68d; */
	border-left-color: #fd520e81;
	border-top-color:#ff4a0280;
	border-right-color:var(--gray);
	border-bottom-color: var(--gray);
	border-style: inset;
	width: 124px;
	height: 124px;
	border-radius: 50%;
	align-items: center;
	padding-left: 10%;
	padding-right: 10%;
	text-decoration: none;
	text-align: center;
	font-size: 1em;
	text-transform: uppercase;
	
}

a:hover{

	font-weight: bolder;
	text-shadow: none;
}

.center:hover{
	background-image: radial-gradient(var(--orange),rgba(255, 255, 255, 0.548));
}

/* span {
	position: absolute;
	top: 50%;
    left: 50%;
    margin-top: -0.5em;
    margin-left: -15%;
    width: 50%;
    height: 2em;
	color: #e3e3e3;
	text-shadow:hsl(0, 0%, 15%) 1px 1px 3px;
} */




#contact form {
	
	width: 100%;
	padding-top: 24px;
	padding-bottom: 24px;
	padding-left: 15%;
	padding-right: 15%;
	
}

input, textarea {
	display: block;
	width: 65%;
	margin-top: 4px;
	margin-bottom:4px;
	padding: 8px;
}

input[type=submit]{
	width: 65%;
	margin-left: 24%;
}


label {
	width:24%;
	float:left;
	padding-top:4px;
	padding-bottom: 8px;
	margin-top: 4px;
	margin-bottom:4px;
}

footer {
	
	background-image: url("/imgs/background_dark_reverse.jpg");
	background-size: cover;
	background-position: center bottom ;
	
	height: 100px;
	border-top:  var(--orange);
	border-style: solid;
	border-bottom: none;
	border-right:none;
	border-left:none;
}

p.footer-text{
	font-family: 'Inter';
	font-size: 8px;
	padding-left: 24px;
	padding-bottom: 0;
	padding-right: 0;
	padding-top: 43px;
}

.display-none {
	display: none;
}

/* label, input, textarea, select {
	display: block;
	width: 100%;
} */

/* input, select, textarea {
	padding: 8px;
} */

/* Components */

/* .btn-primary, .btn-secondary {
	padding: 12px 16px;
	display: inline-block;
	text-decoration: none;
	color: var(--black);
	border-radius: 4px;
} */

/* .btn-primary {
	background-color: white;
	transition: all 0.3s ease;
} */

/* .btn-primary:hover { */
	/* outline: 1px solid var(--black); */
	/* box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.2); */
	/* transform: scale(1.1); */
	/* transform: translateY(-4px); */
	/* background-color: rgba(255, 255, 255, 0.7); */
/* } */

/* .btn-secondary {
	background-color: rgba(255, 255, 255, 0.6);
	border: 1px solid white;
	transition: all 0.3s ease;
}

.btn-secondary:hover {
	background-color: rgba(255, 255, 255, 1);
} */

/* Header */

/* .desktop-nav {
	display: none;
} */

/* @media (min-width: 768px){
	.desktop-nav {
		display: block;
	}
	.mobile-nav {
		display: none;
	}
} */

/* .mobile-nav a {
	text-decoration: none;
	color: var(--black);
	display: block;
	padding: 4px 16px;
} */
/* 
header button {
	all: unset;
}

@media (min-width: 768px){
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	header a {
		text-decoration: none;
		color:  var(--black);
	}

	nav {
		display: inline-block;
	}

	header nav ul {
		display: flex;
		gap: 24px;
		margin-right: 16px
	}

	.hamburger-icon {
		display: none;
	}
} */

/* .logo, .hamburger-icon {
	height: 50px;
}

.mobile-header {
	padding: 16px;
	display: flex;
	align-items: center;
	justify-content: space-between;
} */

/* Hero */

/* #hero {
	background-color: var(--pink);
	padding: 56px 16px;
}

#hero h1 {
	font-size: 2rem;
	margin-bottom: 24px;
}

@media (min-width: 768px){
	#hero {
		padding: 120px 56px;
	}

	#hero h1 {
		font-size: 3.5rem;
		max-width: 70%;
	}
}


#hero .hero-accent {
	color: white;
} */

/* Workshops Article */


/* #courses article {
	padding: 32px 16px;
}

@media (min-width: 768px){
	#courses {
		display: flex;
	}

	#courses article {
		padding: 56px;
	}
}

#courses article .icon {
	height: 24px;
}

#courses article h2 {
	margin-bottom: 16px;
	color: white;
}

#courses article p {
	margin-bottom: 16px;
}

#courses .workshops {
	background-color: var(--yellow);
	transition: all 0.3s ease;
}

#courses .workshops:hover {
	filter: contrast(150%);
}

#courses .flash {
	background-color: var(--green);
}

#courses .plus {
	background-color: var(--blue);
} */

/* Contact section */

/* #contact {
	padding: 48px 16px;
}

#contact input, #contact select {
	margin-bottom: 16px;
}

#contact h2 {
	margin-bottom: 16px;
}

@media (min-width: 768px){
	#contact h2 {
		text-align: center;
		font-size: 2.5rem;
	}

	#contact form {
		max-width: 60%;
		margin: 40px auto;
	}
}

#contact input[type="submit"] {
	background-color: var(--pink);
	border: 0;
	margin-top: 8px;
	cursor: pointer;
} */

/* Footer */

/* footer {
	padding: 16px;
	text-align: center;
} */

/* Utilities */

