/* Base HTML Styles */
@import url('https://fonts.googleapis.com/css2?family=Babylonica&family=Zeyada&family=La+Belle+Aurore&family=Rock+Salt&family=Inter&family=Bangers&family=Rubik:ital,wght@0,400;0,700;1,400&display=swap');

:root {
	--orange: #be5e04;
	--lightorange: #ffb833;
	--darkorange: #5c2e05a8;
	--blue: #5dade2;
	--black: #111111;
	--transparent: #11111100;
	--gray: #e3e3e3;
	--border-dark: #0e0701;
	--faded-white: #fffbf6cb;
	--white: white;
	
}

/* CSS Reset */

html {
	box-sizing: border-box;
	font-size: 10px;
	font-family: 'Inter', sans-serif;
	color: var(--gray);
	scroll-behavior: smooth;
	background-color: var(--black);
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Inter', sans-serif;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
	margin: 0;
	padding: 0;
}

ol,
ul {
	list-style: none;
}
a{
	color:white;
	text-decoration: none;
}

/* img {
	max-width: 100%;
	height: auto;
} */

input,
button,
textarea,
select {
	font: inherit;
}

/* Global styles */

body {
	background-color: var(--black);
}


/* HEADER */

#profile {
	position: relative;
	width: 90px;
	margin-left: 24px;
	margin-top: 48px;
}

.profile-photo {

    position:absolute;
	width: 120px;
    outline: solid;
	outline-width: 5px;
    outline-color: var(--orange);
	border-radius: 4px;
	box-shadow: 3px 5px 24px -3px rgba(0, 0, 0, 0.664);
-webkit-box-shadow: 3px 5px 24px -3px rgba(0, 0, 0, 0.664);
-moz-box-shadow: 3px 5px 24px -3px rgba(0, 0, 0, 0.855);
}


.header-content {
	background-image: url("../imgs/background_dark.jpg");
	background-size:cover;
    display: flex;
    justify-content: space-between;
    border-bottom: var(--orange);
    border-style: solid;
	border-bottom-width: 4px;
    border-top: none;
    border-right:none;
    border-left: none;
	padding-bottom: 32px;
	height: 230px;
    
}

/* HEADER FOR PROJECTS PAGE */
/* Mostly the same with some slight differences */
.header-content-projects {
	background-image: url("../imgs/background_dark.jpg");
	background-size:cover;
    display: flex;
    justify-content: space-between;
    border-bottom: var(--orange);
    border-style: solid;
	border-bottom-width: 4px;
    border-top: none;
    border-right:none;
    border-left: none;
	height: auto;
    
}

.mobile-header {
	justify-self: flex-end;
	align-self: flex-start;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	padding: 8px;
}


ul{
	margin-top: 8px;
	margin-right: 8px;
}

li a:hover{
	
	font-size: 1.2em;
	text-shadow: none;
	transition: all 0.3s ease;
	
	
}

li {
	padding: 8px;
	text-align:right;

}

li a {
	color: white;
	text-shadow: #3c270ccb 4px 4px 4px;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
}

.hamburger-button{
	background-color: var(--transparent);
	margin: 0px;
	padding: 0px;
	margin-right: 16px;
	margin-top: 16px;
	border-style: none;
	cursor: pointer;
}

.hero {
	align-self: flex-start;
	margin-left:  16px;
	width: 40%;
}

/* I know this probably should be named more semantically..... but brain fog atm */
.hero2{
	width:60%;
	display: flex;
	justify-content: space-between;

}

.hero2-projects{
	width:60%;
	display: flex;
	justify-content: flex-end;

}

h1 {
	font-family: 'Rock Salt';
	font-weight:500;
	font-size: 6rem;
	margin-top: 16px;
	margin-left: 16px;
	margin-bottom: 8px;
	transition: all 0.3s ease;
	text-shadow: rgba(228, 106, 54, 0.9) 5px 5px 28px;
}



h2 {
	font-family: 'Inter';
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 2rem;
	margin-bottom: 4px;
	transition: all 0.3s ease;
}

article h2:hover {
	font-size:1.1em;
	transition: all 0.3s ease;
	text-shadow: #5c2e05a8 2px 2px 2px;
}

.subtitle {
    
    font-family: 'Inter';
	text-transform: uppercase;
	letter-spacing: 2px;
    font-size: 2rem;
    margin-left: 20px;
	margin-bottom: 16px;
}

.socials {
    display: flex;
    justify-content: space-evenly;
    height: 24px;
    width: 112px;
    margin-left: 24px;
	margin-bottom: 24px;
	margin-right: 6px;
	transition: all 0.3s ease;
}

.socials img{
	max-width: 40px;
	
	
}

.socials img:hover{
background-color: var(--orange);
border-radius: 20%;
}

h4{
	font-family: 'Rock Salt';
	font-size: 2.4em;
	padding-bottom: 0px;
	text-shadow: var(--orange) 4px 4px 4px;
}

#aboutme {
	font-size: 2rem;
}
/* .project-items h4{
	font-family: 'Bangers';
	font-weight: 50;
	letter-spacing: 3px;
	font-size: 2em;
	padding-bottom: 0px;
	text-shadow: var(--orange) 4px 4px 4px;
}

.project-items h4:hover{
	text-shadow: var(--darkorange) 6px 6px 6px;
	font-weight: bolder;
	transition: all 0.3s ease;
}

.project-items p a {
	text-shadow: var(--darkorange) 2px 2px 2px;
}

.project-items p a:hover {
	text-shadow: var(--darkorange) 2px 2px 2px;
	font-weight: bolder;
} */

/* RESIZING BEHAVIOURS */

/* Medium-ish  Screens */
@media (min-width: 768px){
	h1{
		font-size:3rem;
		
	}

	.subtitle{
		font-size: 1.6rem;
	}

	h4{
		padding-top: 16px;
	}
	p{
		font-size: 12px;
	}
	.hamburger-button{
		display: none;
	}
	.desktop-nav {
		display:inline-block;
		margin-top: 16px;
		margin-right: 16px;
		font-size: 1.2em;
		font-weight: bolder;
		text-transform: uppercase;
	}

	.mobile-nav{
		/* display: none; */
		visibility: hidden;
	}
	.desktop-nav li a {
		text-shadow: var(--black) 8px 8px 8px;
	}

	.header-content, .header-content-projects {
		border-bottom-width: 6px;
		height: 330px;
	}



	/* INTERACTIVE TAG CLOUD */

	.tag-cloud-cluster {
		display: flex;
		align-items: flex-end;
		justify-content: right;
	}

	.tag-cloud {
		align-self: center;
	}

	.tag-bubble {
		padding: 6px;
	}

	.tagcloud--item {
		cursor: pointer;
		font-weight: bold;
		letter-spacing: 1px;
		font-family: 'Inter';
		text-transform: uppercase;
		font-size: 10px;
		line-height: 14px;
	}

	#skill-details{
		width: 100px;
		display: flex;
		flex-direction: column;

	}

	#skill-text {
		font-family:'Inter';
		font-size: 8px;
		padding-left:8px;
	}
	
	#skill-illustration {
		width: 32px;
		align-self:flex-end;
		margin:8px;
	}


	#profile {
		margin-left: 48px;
	}
	.socials {
		margin-left:45px;
	}

	h1{
		margin-left: 32px;
	}

	.subtitle {
		margin-left: 38px;
	}
}

/* Larger screens */

@media (min-width:1000px){
	h4{
		padding-top: 16px;
	}

	p{
		font-size: 1.6em;
	}
	.hamburger-button{
		display: none;
	}
	.desktop-nav {
		display:inline-block;
		margin-top: 16px;
		margin-right: 16px;
		font-size: 1.8em;
		font-weight: bolder;
		text-transform: uppercase;
	}

	.mobile-nav{
		/* display: none; */
		visibility: hidden;
	}
	.desktop-nav li a {
		text-shadow: var(--black) 8px 8px 8px;
	}

	.header-content, .header-content-projects {
		border-bottom-width: 6px;
	}

	.tag-cloud-cluster {
		display: flex;
		align-items: flex-end;
		justify-content: right;
	}

	.tag-cloud {
		align-self: center;
	}

	.tag-bubble {
		padding: 20px;
	}

	.tagcloud--item {
		cursor: pointer;
		font-weight: bold;
		letter-spacing: 1px;
		font-family: 'Inter';
		text-transform: uppercase;
		font-size: 1.4em;
		line-height: 14px;
	}

	#skill-details{
		width: 200px;
		margin-left: 80px;
		display: flex;
		flex-direction: column;

	}

	#skill-text {
		font-family:'Inter';
		font-size: 10px;
		padding-left:8px;
	}
	
	#skill-illustration {
		width: 32px;
		align-self:flex-end;
		margin:16px;
	}
	#profile {
		margin-left: 48px;
	}
	.socials {
		margin-left:60px;
	}

	h1{
		font-size: 4.5rem;
		margin-left: 32px;
	}

	.subtitle {
		margin-left: 38px;
	}
	

}

/* Smaller screens */

@media (max-width: 768px){
	.hero{
		margin-left: 32px;
	}

	.desktop-nav {
		display: none;
	}
	.tag-cloud {
		display:none;
	}

	#skill-details {
		display: none;
	}

	h1{
		font-size: 2.12em;
	}

	.subtitle{
		font-size:0.8em;
	}

	.hero{
		width:60%
	}
	.hero2{
		width:40%;
	}
}


/* BODY */

.main-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
	
}

.main-items {
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: hsl(0, 0%, 15%);
    padding: 32px 0px;
}

/* About me section */

.about-me-container {
	display: flex;
	flex-direction: column;
	margin-left: 16px
}

@media (max-width:768px) {
	.about-me-container {
		margin-left: 8px
	}
}

/* Project Section */

.projects {
	padding: 16px;
}

.project-details {
	padding: 16px;
}

.details {
	padding: 8px;
}
@media (min-width:768px){
	.project-details{
		padding: 40px;
		font-size: 12px;
}
.details{
	padding: 16px;
}
}
.deco-container {
	display: flex;
	align-items: center;
	flex-direction: column;
}

h3 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    padding: 16px;
    font-family: 'Inter';
    text-transform: uppercase;
}

.deco-bar {
	width: 2px;
	height: 25px;
	background-color: white;
	content: ' ';
}

@media (min-width:700px){
	h3 {
		font-size: 1.8em;
		font-weight: bold;
		color: var(--white);
	}
}

p {
margin-right: 32px;
}

.project-detail {
	padding-top: 40px;
	border: solid var(--lightorange)

}


#projects {
	justify-content: flex-start;
    background-color: var(--orange);
	padding-top: 16px;
	padding-bottom: 16px;

}

.project-items {
	display: flex;
	flex-direction: column;
	justify-items: flex-start;
	justify-content: space-evenly;
	padding-left: 8px;
	padding-top: 8px ;
	padding-bottom: 8px;
	padding-right: 8px;
}


.project-links:hover {
	font-weight: bolder;
	text-shadow:none;
}

article {
	margin: 16px;
	padding: 0px;
}



article p {
	padding: 0px;
}

.projects p{
	padding: 16px;
}
.orange {
	background-color: var(--orange);
}

/* Contact Section */

#contact {
	display: flex;
	justify-content: stretch;


}

.contactsform {
	width: 80%;
	display: flex;
	justify-content: center;

}

form {
	width: 110%;
	display: grid;
	grid-template-columns: [labels] 70px [controls] 240px;
	grid-auto-flow: row;
	grid-gap: 10px;
}

label {

	grid-column: auto;
	grid-row: auto;
	padding: 4px;
	text-transform: uppercase;
	font-size: 1em;
}


input, textarea {
	grid-column: auto;
	grid-row: auto;
	background-color: var(--faded-white);
	border-style: none;
}


input[type=submit]{
	grid-column: 2;
	text-transform: uppercase;
	font-family: "Rock Salt";
	letter-spacing: 0.2em;
	font-weight: bolder;
	padding: 12px;
	
}

input[type=submit]:hover{
	background-color: var(--orange);
	transition: all ease 0.3s;
	color: var(--white);
	border-style: solid;
	border-color: var(--white);
	font-weight: bolder;
	text-shadow: var(--darkorange) 2px 2px 2px;
	cursor: pointer;
}

@media (min-width:785px){
	.contactsform {
		width: 80%;
		display: flex;
		justify-content: center;
	}

	form {
		width: 110%;
		display: grid;
		justify-content: center;
		grid-template-columns: [labels] 120px [controls] 340px;
		grid-auto-flow: row;
		grid-gap: 10px;
	}

	input, textarea {
		grid-column: auto;
		grid-row: auto;
		background-color: var(--faded-white);
		border-style: none;
	}
	
	label {

		grid-column: auto;
		grid-row: auto;
		padding: 10px;
		text-transform: uppercase;
		font-size: 1.5em;
	}
	

}



/* FOOTER */

footer {
	
	background-image: url("../imgs/background_dark_reverse.jpg");
	background-size: cover;
	background-position: center bottom ;
	
	height: 100px;
	border-top:  var(--orange);
	border-style: solid;
	border-top-width: 4px;
	border-bottom: none;
	border-right:none;
	border-left:none;
}

p.footer-text{
	font-family: 'Inter';
	font-size: 0.8em;
	padding-left: 24px;
	padding-bottom: 0;
	padding-right: 0;
	padding-top: 43px;
}

.display-none {
	display: none;
}


@media (min-width:785px) {
	footer {
	border-top-width: 6px;
	}
	p.footer-text{
		font-family: 'Inter';
		font-size: 1em;
		padding-left: 24px;
		padding-bottom: 0;
		padding-right: 0;
		padding-top: 43px;
	}

}

.project hr {
    display: block;
    border-top: var(--darkorange) 8px;
    border-style: dotted none none;
    width: 10%;
    padding-bottom: 24px;
  }


.swiper-container {
	height: 700px;
	width: 50%;
	height: 80%;
	padding: 80px;
}
.swiper-wrapper .project {

  position: relative;
  height: 80%;
  width: 250px !important;
}


.project h2 {
  font-family: 'Rock Salt';
  padding-top: 32px;
  padding-bottom: 32px;
  font-family: 'Rock Salt';
  font-size: 1.9rem;
  text-align: center;
  text-shadow: var(--darkorange) 2px 2px 2px;
}


.project h4 {
  font-family: 'Inter';
  padding-bottom: 16px;
  font-size: 2.4rem;
  text-align:center;
  text-shadow: var(--darkorange) 2px 2px 2px;
}

.project {
  padding: 24px;
  border: var(--darkorange) 4px solid;
  border-radius: 8px;
  max-height: 86%;
  min-width: 500px;
  background-color: var(--darkorange);
}

.project p {
	text-align: center;
  	font-size: 2rem;
  	font-family: 'Inter';
	text-shadow: var(--darkorange) 2px 2px 2px;
	margin-right: 0px;
	margin-bottom: 40px;
}

.project {
    max-height: 86%;
    width: 450px !important;
  } 


.project .evens {
  background-color: var(--purple);
}

.project a {
  font-weight: 700;
  color: var(--black);
  transition: all 0.3s ease;
}

.project a:hover {
  text-shadow: 0.7px 0.7px 0.7px var(--black)
}

.mentorship-logo {
  display: block;
  margin: 0 auto;
  max-width: 50%;
  background-color: rgba(255, 255, 255, 0.237)
  
}
